/*  next
    03/08/2021
                */

/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* brand font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* backup code font (for non-windows devices) */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* root */
body {
    /* use apple and ms built-in fonts for speed and looks on different devices */
    font-family: -apple-system, BlinkMacSystemFont, Inter, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* use the specified theme */
    background: var(--back);
    color: var(--text);
}
.app {
    /* apply padding */
    padding: 30px;
}

/* focus */
*:focus {
    border: none;
    outline: 2px solid var(--accent);
}

/* detect and change theme based on system */
@media (prefers-color-scheme: light) {
    :root {
      /* define main backing colour */
        --back: #FFFFFF;
        /* define text colours */
        --head: #000000;
        --text: #000000cc;
        --over: #00000071;
        /* define accent colours */
        --accent: #3D5FF1;
        --accent-back: #3D5FF130;
    }
    /* change outline icon colours */
    img.act-icon.outline {
        filter: brightness(0);
    }
    .inner {
        box-shadow: -15px 15px 0px 0px #003BFF;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        /* define main backing colour */
        --back: #000000;
        /* define text colours */
        --head: #FFFFFF;
        --text: #ffffffe1;
        --over: #ffffff71;
        /* define accent colours */
        --accent: #3D5FF1;
        --accent-back: #3D5FF120;
    }
    /* change outline icon colours */
    img.act-icon.outline {
        filter: brightness(5);
    }
}

/* define */

/* headers */
h1, h2, h3, h4, h5, h6, .h1 {
    font-weight: 600;
    color: var(--head);
    margin: 5px 0;
}
/* text alt */
.alt {
    color: var(--over);
    font-size: 14px;
}
/* anchors/links */
a, .link {
    text-decoration: none;
    color: var(--text);
}
a:hover, .link:hover, a:focus, .link:focus {
    color: var(--head);
}
/* overline text */
.over {
    /* apply colour + font size */
    color: var(--over);
    font-size: 13px;
    font-weight: 500;
    /* transform to uppercase */
    text-transform: uppercase;
    /* apply letter spacing */
    letter-spacing: 1px;
    /* apply line height */
    line-height: 32px;
    margin: 5px 0;
}

/* gap div */
.g {
    height: 30px;
}

/* support icon */
.icon {
    line-height: 24px;
}
.icon i.material-icons, .icon i.material-icons-round {
    position: relative;
    top: 6px;
    margin-right: 20px;
}
.icon i.fab.support {
    position: relative;
    top: 2px;
    font-size: 22px;
    margin-right: 20px;
}

img.act-icon {
    position: relative;
    top: 6px;
    width: 24px;
    height: 24px;
    margin-right: 20px;
    font-size: 0;
}

/* icon list */
ul.ico li {
    margin: 10px 0;
    height: 30px;
}
/* one-line list */
ul.one {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.on-one>ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
}
ul.one .icon * {
    margin: 0 10px !important;
    top: 0 !important;
}

/* logo */
.next {
    cursor: default;
    line-height: 20px;
}
.code {
    font-family: 'Consolas', 'Roboto Mono', -apple-system, BlinkMacSystemFont, Inter, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/* hide by default */
.next .wordmark {
    position: relative;
    left: -40px;
    opacity: 0;
    transition: 0.35s;
    color: var(--head);
}
.next .ico {
    position: relative;
    left: -40px;
    transition: 0.35s;
}
/* show upon hover */
.next:hover .wordmark, .next:hover .ico, .next:focus-within .wordmark, .next:focus-within .ico {
    left: 0;
    opacity: 1;
}

/* footer */
footer {
    opacity: 0.6;
}

/* profile */
img.pfp {
    border-radius: 50%;
}
img.small {
    width: 48px;
}
/* link profile */
a.pfp.small {
    width: 48px;
    height: 48px;
    display: inline-block;
    border-radius: 50%;
}
a.pfp-link {
    position: relative;
}
a.pfp-link i {
    position: absolute;
    top: 12px;
    left: 12px;
    opacity: 0;
    color: white;
}
/* upon hover */
a.pfp-link:hover, a.pfp-link:focus {
    background: #000000;
}
a.pfp-link:hover img, a.pfp-link:focus img {
    opacity: 0.5;
}
a.pfp-link:hover i, a.pfp-link:focus i {
    opacity: 1;
}

/* user embed */
.user {
    display: flex;
}
.user .pfp {
    margin-right: 5px;
}
.user .acc {
    display: flex;
    align-items: center;
}
.user .acc h1 {
    margin: 0 0 2px 0;
}

/* Full page */
.full {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* Scroll indicator */
.full .scroll {
    position: absolute;
    bottom: 10vh;
}
.scroll i {
    font-size: 32px;
    transition: 0.2s;
}
.scroll.true i {
    transform: rotate(180deg);
    opacity: 0.2;
}

/* plexion2021 Brand Rendering */
.brand {
    font-family: 'Poppins';
    text-shadow: -8px 8px 0px #003BFF;
    font-size: 84px;
    color: #FFFFFF;
    text-align: center;
}

.inner {
    background: #000000;
    padding: 50px;
    --head: #FFFFFF;
    --text: #ffffffe1;
    --over: #ffffff71;
}
.inner img.act-icon.outline {
    filter: brightness(5);
}